# Terraform State Files (kabhi bhi git mein mat daalo)
*.tfstate
*.tfstate.*
*.tfstate.backup
.terraform/
.terraform.lock.hcl

# Sensitive vars file
terraform.tfvars

# Crash logs
crash.log
crash.*.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# SSH Keys
*.pem
*.key
id_rsa
id_rsa.pub

# OS Files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
